@import './components/variables.scss';
@import './components/SideBar.scss';
@import './components/DisplayEmail.scss';
@import './components/App.scss';
@import './components/Inbox.scss';
@import './components/FilterBy.scss';
@import './components/FullEmail.scss';

body {
    font-size: $basefontSize;
    font-family: $basefont;
    margin: 0;
    padding: 0;
}
